<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head th:include="layout :: head">

</head>
<body>
<div th:include="layout :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button  class="btn btn-default" type="button" id="job-create">Create</button>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>name</td>
                    <td>group</td>
                    <td>cron</td>
                    <td>type</td>
                    <td>dataMap</td>
                    <td>action</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job : ${jobs}" class="job-item">
                    <td th:text="${job.name}" class="job-name">name</td>
                    <td th:text="${job.group}" class="job-group">group</td>
                    <td th:text="${job.cron}" class="job-cron">cron</td>
                    <td th:text="${job.type}" class="job-type">type</td>
                    <td class="job-data-map" th:attr="api-url=${job.jobDataMap['leansw_quartz_job_api_url']}">
                        <p  class="api-url" th:if="${#maps.containsKey(job.jobDataMap, 'leansw_quartz_job_api_url')}"
                           th:text="${'apiurl: ' + job.jobDataMap['leansw_quartz_job_api_url']}">
                        </p>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-warning del-job">Del
                        </button>
                        <button type="button"
                                class="btn btn-info edit-job">Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="modalContainder">
</div>
<!-- an modal of delete an cron job -->
<script id="edit-modal-template" type="text/x-handlebars-template">
</script>

<!-- an modal of delete an cron job -->
<script id="del-modal-template" type="text/x-handlebars-template">
</script>

<script type="text/javascript" th:src="@{/js/services.js}"></script>


</body>
</html>


